<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile-Template</title>
    <link rel="icon" href="../img/logo.svg" />
    <link rel="stylesheet" href="../css/desktop_template.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../privacy_policy.css" />
    <link rel="stylesheet" href="../css/mobile_template.css" />
    <script src="../script.js"></script>
  </head>
  <body>
    <footer class="mobileNavigation">
      <div class="navigationContainer">
        <a
          class="navigationItem"
          href="./summary.html"
          onclick="openSummaryView()"
          id="navSummary"
        >
          <img
            class="navigationIcon"
            src="../img/sidebar_summary.svg"
            alt="Summary Icon"
          />Summary
        </a>
        <a
          class="navigationItem"
          href="./add_task.html"
          onclick="openTaskCreation()"
          id="navTask"
        >
          <img
            class="navigationIcon"
            src="../img/edit_square.svg"
            alt="Task Icon"
          />Add Task
        </a>
        <a
          class="navigationItem"
          href="./board.html"
          onclick="openBoardView()"
          id="navBoard"
        >
          <img
            class="navigationIcon"
            src="../img/sidebar_board.svg"
            alt="Board Icon"
          />Board
        </a>
        <a
          class="navigationItem"
          href="./contacts.html"
          onclick="openContactsList()"
          id="navContacts"
        >
          <img
            class="navigationIcon"
            src="../img/sidebar_contacts.svg"
            alt="Contacts Icon"
          />Contacts
        </a>
      </div>
    </footer>
  </body>
</html>
